<section id="social-media">
    <div class="container text-center">
        <p style="font-family: 'Baloo 2', cursive;color: purple;">FIND US ON SOCIAL MEDIA</p>
        <div class="social-icons">
            <a href="#"><img src="../../assets/img/fb.png" alt="fb"></a>
            <a href="#"><img src="../../assets/img/inst.png" alt="twr"></a>
            <a href="#"><img src="../../assets/img/twtr.png" alt="inst"></a>
        </div>
    </div>
</section>

<section id="footer">
    <img src="../../assets/img/wave.png" alt="reverse wave" class="footer-img rotateImg">
    <div class="container">
        <hr>
        <p class="copyright" style="font-family: 'Baloo 2', cursive;">
            copyright &copy; DreamHome.2020 
        </p>
    </div>
</section>