<div class="card-columns" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="card bg-light">
        <div class="card-body text-center">
          <img class="card-img-top" src="../../assets/img/construction.jpg" alt="Card image" width="300px" height="300px">
          <h4 class="card-title">Construction</h4>
          <a [routerLink]="['/search','Construction ../../assets/img/construction.jpg']" class="btn btn-primary">Go Search!</a>
        </div>
      </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <img class="card-img-top" src="../../assets/img/electrical.jpg" alt="Card image" width="300px" height="300px">
          <h4 class="card-title">Electrical-Works</h4>
          <a [routerLink]="['/search','Electrical-Works ../../assets/img/electrical.jpg']" class="btn btn-primary">Go Search!</a>
        </div>
      </div>

    <div class="card bg-light">
      <div class="card-body text-center">
        <img class="card-img-top" src="../../assets/img/house-painting.jpg" alt="Card image" width="300px" height="300px">
        <h4 class="card-title">Painting</h4>
        <a [routerLink]="['/search','Painting ../../assets/img/house-painting.jpg']" class="btn btn-primary">Go Search!</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <img class="card-img-top" src="../../assets/img/Courtyard-Garden.jpg" alt="Card image" width="300px" height="300px">
        <h4 class="card-title">Courtyard-Garden</h4>
        <a [routerLink]="['/search','Courtyard-Garden ../../assets/img/Courtyard-Garden.jpg']" class="btn btn-primary">Go Search!</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <img class="card-img-top" src="../../assets/img/interior_design.jpg" alt="Card image" width="300px" height="300px">
        <h4 class="card-title">Interior-Design</h4>
        <a [routerLink]="['/search','Interior-Design ../../assets/img/interior_design.jpg']" class="btn btn-primary">Go Search!</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">       
        <img class="card-img-top" src="../../assets/img/plumbing.jpg" alt="Card image" width="300px" height="300px">
        <h4 class="card-title">Plumbing</h4>
        <a [routerLink]="['/search','Plumbing ../../assets/img/plumbing.jpg']" class="btn btn-primary">Go Search!</a>
      </div>
    </div>

    <div class="card bg-light">
        <div class="card-body text-center">
          <img class="card-img-top" src="../../assets/img/furnishing.jpg" alt="Card image" width="300px" height="300px">
          <h4 class="card-title">Furnishing</h4>
          <a [routerLink]="['/search','Furnishing ../../assets/img/furnishing.jpg']" class="btn btn-primary">Go Search!</a>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <img class="card-img-top" src="../../assets/img/maintenance.png" alt="Card image" width="300px" height="300px">
          <h4 class="card-title">Home-Maintenance</h4>
          <a [routerLink]="['/search','Home-Maintenance ../../assets/img/maintenance.png']" class="btn btn-primary">Go Search!</a>
        </div>
      </div>
  </div>