.custom-toggler.navbar-toggler {
    border: 2px solid whitesmoke;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#dashboard
{   float: right;
    margin-left: auto !important;
    margin-right: 15px;
    font-family:'Berkshire Swash', cursive;
    /* color: white; */
}
.dropdown-toggle:hover
{
color: ghostwhite !important;
}
.navbar-expand-lg
{
    background-color: purple;
}
.collapse ul li a{
    color: gold;
}
.dropdown-menu a:hover
{
    background-color: wheat;
}